@media screen and ( max-width: 700px) {
    #isPhoneTabs {
        display: flex!important;
    }
    #title-g {
        font-size: 20px;
    }
    .msgBox {
        display: block !important;
    }
    .timeStyle {
        font-size: 13px;
    }
    .showMore {
        padding: 0 8px!important;
    }
    .inPhoneBtnBox div {
        width: 50%;
    }
    .inPhoneBtnBox button {
        width: 100%;
    }
    .inPhoneTableDisplay {
        display: none!important;
    }
    .showPhoneTable {
        display: block!important;
    }
    .inPhoneTableStyle {
        display: flex;
        flex-direction: column!important;
    }
    .winnerListStyle {
        justify-content: left!important;
    }
    /* shop页面去掉边框 */
    .mapSearch {
        border: none!important;
    }
    .plainList {
        padding: 5px!important;
    }
    .ant-progress {
        width: 100%!important;
    }
    .plainList /deep/.ant-progress-inner {
        width: 100%!important;
    }
    .chance {
        height: 200px!important;
    }
    .chanceBox {
        height: 200px!important;
        flex-direction: column;
    }
    .ant-col-xs-0 {
        display: none!important;
    }
    /* 队伍自定义组件样式 */
    .left {
        width: 69%!important;
    }
    .fontStyle {
        justify-content: normal!important;
    }
    .allBox {
        border-right: none!important;
        border-bottom: 2px solid #fff;
    }
    .inPhonePlayer .ant-progress-inner {
        width: 100%!important;
        height: 100%!important;
    }
    .scoreBox>div {
        padding: 0!important;
    }
    .currentScore {
        border: none!important;
    }
    .scoreName {
        text-align: center!important;
    }
    .recordBox {
        padding: 0px!important;
    }
    .inphoneHeight {
        height: 137px;
    }
}