@media screen and ( max-width: 700px) {
    .boxBG {
        display: none!important;
    }
    #isPhoneTabs {
        display: flex!important;
    }
    #title-g {
        font-size: 20px;
    }
    /* .imgBox {
        height: 80px!important;
    } */
    .timeStyle {
        font-size: 13px;
    }
    .showMore {
        padding: 0 8px!important;
    }
    .inPhoneBtnBox div {
        width: 50%;
    }
    .inPhoneBtnBox button {
        width: 100%;
    }
    .inPhoneTableDisplay {
        display: none!important;
    }
    .showPhoneTable {
        display: block!important;
    }
    .inPhoneTableStyle {
        display: flex;
        flex-direction: column!important;
    }
    .winnerListStyle {
        justify-content: left!important;
    }
    /* shop页面去掉边框 */
    .mapSearch {
        border: none!important;
    }
}