@media screen and ( max-width: 700px) {
    .boxBG {
        display: none!important;
    }
    #isPhoneTabs {
        display: flex!important;
    }
    #title-g {
        font-size: 20px;
    }
    .imgBox {
        height: 80px!important;
    }
}